POSTGRES_USER=exampleuser
POSTGRES_PASSWORD=examplepass
POSTGRES_DB=exampledb
POSTGRES_PORT=exampleport

SPRING_BOOT_PORT=exampleport
REACT_PORT=exampleport
PROMETHEUS_PORT=exampleport

GRAFANA_PORT=exampleport
GRAFANA_ADMIN_USER=exampleuser
GRAFANA_ADMIN_PASSWORD=examplepass

PASSWORD_ENCODER_ID=exampleencoderid
APP_ADMIN_USER=exampleuser
APP_ADMIN_PASSWORD=examplepass

PROMETHEUS_SCRAPE_USER=exampleuser
PROMETHEUS_SCRAPE_PASSWORD=examplepass
